/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    display: flex;
    flex-direction: column;
    width: 800px;    
    margin: 0 auto;
    justify-content: space-around;
}

header {
    display: flex;
    width: 100%;
    height: auto;      
    
}

header .logo-div {
    display: flex;
    width: 30%;
    height: 50px;
    align-items: flex-end;
    
}   

header .logo-div .logo-img {
    width: 100%;
    height: auto;    
}

header nav {
    display: flex;
    width: 70%;    
    height: 50px;
    justify-content: space-around;
    align-items: flex-end;/*align items at the bottom of the container*/
    
}

header nav a {
    text-decoration: none;
    color: black;
}

.about-header-section .about-header-img-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 800px;
    height: 250px;
}

.about-header-section .about-header-img-div img {
    width: 100%;
}

.about-header-section .about-header-content-div p {
    text-align: justify;
}

.main-content-section {
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	height: 800px;
	border-top: 1px dotted black;
	justify-content: space-between; 
    align-content: space-around;	
    margin-top: 20px;
}

.main-content-section .main-content-div {
    display: flex;
    flex-direction: column;
    width: 350px;    
    height: 320px;
    border-bottom: 1px dotted black;
    padding-bottom: 5px;
    justify-content: space-around;
    
}

.main-content-section .main-content-div img {
    width: 375px;
    height: 150px;

}

.main-content-section .main-content-div button {
    width: 30%;
    border-radius: 5px;
    background-color: white;
}

/*stretch task*/
@keyframes button-hover {
    from {background-color: darkorchid;}
    to {background-color: gold;}
}

.main-content-section .main-content-div button:hover {
    /*stretch task*/
  color: black;
  animation-name: button-hover;
  animation-duration: 4s;
}

.work-together-section {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}